@charset "utf-8";
html,body,h1,h2,h3,ul,li,a,div,p,strong,form,input,textarea{
  margin: 0;
  padding: 0;
}
body{
  background-color: #76b42d;
  font-family: 'Microsoft Yahei', Arial;
  font-size: 14px;
}
.fix {
  position: fixed;
  height: 100%;
  left: 0;
  right: 0;
}
a{
  text-decoration: none;
  color:#08c;
}
a,input,select{
  outline: none;
  font-size: inherit;
  font-family: inherit;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.hide {
  display: none;
}
.clearfix:after{
  content: '';
  display: block;
  clear: both;
  height: 0;
  font-size: 0;
}
.mgl5 {
  margin-left: 5px;
}
.mgl {
  margin-left:10px;
}
.mgl15{
  margin-left: 15px;
}
.mgl20 {
  margin-left: 20px;
}
.mgl40p{
  margin-left: 40%;
}
.mgt10 {
  margin-top: 10px;
}
.mgt20 {
  margin-top: 20px;
}
.header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: #333;
  box-shadow: 0 4px 8px 1px rgba(0,0,0,.3);
}
.header-inner {
  width: 900px;
  margin: 0 auto;
}
.header-inner .logo {
  margin-top: 12px;
}
.header-inner .title {
  color: #fff;
  font-size: 2em;
  margin: 7px 0 0 20px;
}
.app {
  margin :0 auto 40px;
  width: 900px;
  height: 100%;
  padding-top: 80px;
  text-align: center;
  box-sizing: border-box;
  font-size: 1.4em;
}
.app1 {
  width: 900px;
  height: 500px;
  text-align: center;
  margin: 80px auto;
  background-color: #fff;
}
.app1 .p0 {
  padding-top: 20px;
}
.app1 .p {
  padding-top: 50px;
}
.app1 .p1 {
  line-height: 2.0;
  padding-top:30px;
}
.color-org {
  color: #ff9000;
}
.color-gre {
  color: #76b42d;
}
.color-red {
  color: #ff0000;
}
.color-bla {
  color: #333;
}
.btn{
  border:0 none;
  cursor: pointer;
  background-color: #f1f1f1;
  padding: .5em 1.2em;
  color: #fff;
  border-radius: 5px;
}
.btn-o{
  background-color: #7CBE2E;
}
.btn-o:hover {
  background-color: #8cce3e;
}
.btn-g{
  background-color: #ff9000;
}
.btn-g:hover {
  background-color: #E37E00;
}
.btn-dis {
  background-color: #999999;
}
.sel {
  border: 2px solid #e0e0e0;
  color: #a0a0a0;
  padding: 4px 5px;
}
.inp {
  padding: 5px;
  width: 50%;
  border: 2px solid #e0e0e0;
  color: #a0a0a0;
}
.inp:focus,.sel:focus{
  border: 2px solid #fcbe2e;
}
.line {
  border-top: 1px solid #dbe5d1;
}
.menu-list{
  margin:0 10%;
  overflow: hidden;
}
.menu-list .menu-item {
  color: #333;
  background-color: #f5f5f5;
  border: 1px solid #dadada;
  border-radius: 5px;
  padding: 10px 0;
  margin: 0 20px 20px 0;
  float: left;
  width: 30%;
}
.menu-list .active{
  color: #ff9900;
  background-color: #fff9f2;
  border: 1px solid #ff9900;
}
.countdown .txt{
  color: #ccc;
  margin: 18px 0 0 5px;
}
.countdown .out{
  background-color: #fff;
  margin: 10px 2px;
  padding: 0 5px;
  color: #333;
  font-size: 2em;
  border-radius: 5px;
}
.countdown span{
  float: left;
}
.panel{
  z-index: 1;
  width: 239px;
  height: 100%;
  float: left;
  position: relative;
  background-color: #f5f5f5;
  border-right: 1px solid #dbe5d1;
}
.panel a:hover {
  text-decoration: underline;
}
.panel .headset {
  width: 190px;
  height: 100px;
  font-size: 14px;
  margin: 25px 0 0 25px;
}
.headset .headimg {
  width: 80px;
  float: left;
  height: 80px;
  border-radius: 50%;
  background: url(../images/heads.jpg) no-repeat;
  border: 1px solid #dbe5d1;
}
.headset .male {
  background-position: -20px -20px;
}
.headset .female {
  background-position: -96px -14px;
}
.headset .g1{
  font-size: 24px;
}
.ppset {
  width: 180px;
  border-radius: 5px;
  font-size: 14px;
  margin: 10px 0 0 25px;
  border:1px solid #76b42d;
}
.ppset .f16{
  font-size: 16px;
}
.ppset .t1{
  padding: 10px 0;
}
.ppset .t2{
  padding: 8px 0;
  background-color: #76b42d;
}
.ppset .had-star{
  background-color: #999999;
}
.ppset .t2 a{
  color: #fff;
}
.adminset {
  margin-top: 20px;
  border-color:#ff9900;
}
.adminset .t1{
  background: #fff;
  padding: 10px 0;
  border-radius: 5px 5px 0 0;
}
.adminset .t2 {
  background: #ff9900;
}
.adminset .count {
  width: 2em;
  color : #909090;
  padding: .3em 0; 
  margin-left: 5px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
}
.c1 {
  margin-left: 10px;
}
.g2,.g3{
  margin-top: 5px;
}
.g3 a{
  color: #76b42d;
}
.ptabs{
  top : 250px;
  left : 12px;
  text-align: left;
  position: absolute;
  z-index: 2;
}
.ptabs a{
  display: block;
  color:#505050;
  width: 200px;
  padding: 20px 5px 20px 20px;
  border-bottom: 1px solid #dbe5d1;
}
.ptabs .active{
  background-color: #fff;
  border-top: 1px solid #dbe5d1;
  border-bottom: 1px solid #dbe5d1;
  border-left: 3px solid #76b42d;
}
.main {
  float: left;
  width: 70%;
  height: 100%;
  position: relative;
  padding: 10px 10px 0;
  background-color: #fff;
}
.main .title {
  text-align: left;
  font-size: 14px;
  color : #505050;
  line-height: 1;
  padding-left: 10px;
  border-left: 3px solid #76b42d;
}
.main .table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
.main .sp-scroll {
  overflow: auto;
  padding-bottom: 20px;
  height: calc(100% - 20px);
}
.table tr:hover td{
  background-color: #f0f0f0;
}
.table-inter {
  height: 75%;
  height: calc(100% - 100px);
  overflow: auto;
  border-bottom: 2px solid #eee;
}
.table-inter2 {
  height: calc(100% - 120px);
}
.table thead th {
  color: #505050;
  font-size: 14px;
  text-align: left;
  font-weight: normal;
  padding: 5px 0 5px 5px;
  background-color: #eeeeee;
}
.table td {
  font-size: 16px;
  padding:15px 0;
  border-bottom: 1px solid #f1f1f1;
}
.table .con-chk{
  float: left;
  width: 18px;
  height: 18px;
  padding: 1px;
  background-color: #fff;
  border: 1px solid #aaa;
  position: relative;
}
.chked .fa{
  position: absolute;
  font-size: 1.72em;
  top:-4px;
  left:-2px;
  width: 100%;
  height: 100%;
}
.table .con-chkgray{
  background-color: #f5f5f5;
  height: 100%;
  display: block;
}
.table tr.active td{
  background-color: #fef4e1;
}
.pkong{
  width: 78px;
  height: 20px;
  background: url(../images/kong.jpg) no-repeat;
}
.pkong a{
  float: left;
  width: 20px;
  height: 20px;
  display: block;
}
.pkong span{
  display: block;
  float: left;
  width: 35px;
  padding: 0 1px;
  text-align: center;
}
.tips {
  position: absolute;
  bottom: 5px;
  right: 0;
  width: 100%;
  height: 60px;
  padding: 10px;
  box-sizing : border-box;
  text-align: right;
  font-size: 14px;
}
.tip-txt{
  max-width: 80%;
}
.tip-btn{
  margin-top: 5px;
  overflow: hidden;
}
.tip-btn .btn{
  float: right;
}
.ptabs .add-new-menu {
  color: #76b42d;
}
.admintips {
  text-align: left;
  height: 90px;
}
.admintips .tip-btn {
  margin-top: 40px;
}
.add-dish {
  position: absolute;
  left: 10px;
  top: 5px;
  margin-top: 5px;
}
.add-dish .inp {
  width: 160px;
}
.main .short{
  width: 60px;
}
.aler_dialog {
  width: 400px;
  top : 25%;
  left: 0;
  right: 0;
  margin: auto;
  position: fixed;
  background-color: #fff;
  border-radius: 10px;
  z-index: 10;
  border: 1px solid #eee;
  box-shadow: 0 0 8px 1px rgba(0,0,0,.3);
}
.aler_dialog .close {
  position: absolute;
  right: -10px;
  top: -10px;
  transition : transform .3s ease-in-out;
}
.aler_dialog .close:hover {
  transform : rotate(180deg);
}
.aler_dialog .content {
  padding: 20px 10px;
}
.content .item {
  text-align: center;
  margin-bottom: 10px;
}
.confirm .item {
  margin-top: 30px;
}
.content label{
  color: #333;
}
.content .inp {
  margin-left: 10px;
}
.content .label-tip {
  color: #999;
}
.confirm{
  text-align: center;
  font-size: 18px;
}
.u-radio {
  width: 90px;
  overflow: hidden;
  margin-left: 15px;
}
.u-radio .radio {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../images/radio.png) no-repeat -18px 0;
  vertical-align: -3px;
}
.u-radio .chked {
  background-position: 0 0;
}
.dian-cont {
  margin-top: 10px;
  padding-bottom: 10px;
  text-align: left;
}
.dian-header{
  overflow: hidden;
  border-top: 1px solid #dbe5d1;
  padding-top: 20px;
}
.tb2{
  border-collapse: collapse;
  margin-top: 5px;
  border-top: 1px solid #f1f1f1;
  font-size: 14px;
  width: 100%;
}
.tb2 td {
  background-color: #fff;
  padding:10px 5px;
}
.tb2 .even td{
  background-color: #eeeeee;
}
.zon{
  margin-top: 5px;
}
.history td {
  font-size: 14px;
  color: #999;
}
.history .today td{
  color: #000;
}