<div class="aler_dialog hide" id="d001" role="form">
    <a href="javascript:;" class="close"><image class="fl" src="/images/close.png"/></a>
    <div class="content">
        <form autocomplete="off">
            <div class="item">
                <label for="a00">菜单名称</label>
                <input type="text" id="a00" class="inp" maxlength="10" name="menuName" required>
            </div>
            <div class="item">
                <label for="a01">联系电话</label>
                <input type="text" id="a01" class="inp" maxlength="30" name="menuPhones" required>
                <div class="label-tip">多个号码用空隔分开</div>
            </div>
            <div class="item">
                <input type="submit" value="确定" class="btn btn-o">
            </div>
        </form>
    </div>
</div>
<div class="aler_dialog hide" id="d002" role="tips">
    <a href="javascript:;" class="close"><image class="fl" src="/images/close.png"/></a>
    <div class="content"></div>
</div>
<div class="aler_dialog hide" id="d003" role="confirm">
    <a href="javascript:;" class="close"><image class="fl" src="/images/close.png"/></a>
    <div class="content">
        <div class="item"></div>
        <div class="item mgt20">
            <a href="javascript:;" class="btn btn-g onOK">有钱,任性</a>
            <a href="javascript:;" class="btn btn-o mgl15 onCancel">不点了</a>
        </div>
    </div>
</div>
<script type="text/tmpl" id="tem-countdown">
  <span class="txt">距离点餐结束还有：</span>
  <span class="out" id="h1">%{m1}</span>
  <span class="out" id="h2">%{m2}</span>
  <span class="txt">分</span>
  <span class="out" id="m1">%{s1}</span>
  <span class="out" id="m2">%{s2}</span>
  <span class="txt">秒</span>
</script>
<script type="text/tmpl" id="tem-summary">
  您已选择：
  {% var allpri= 0; _.each(obj, function(e,i,o){%}
    <span class="color-org">{{-e.name}}</span>{{e.count}}份,
  {%allpri+=e.price*e.count})%}
  共计：<strong class="color-org">¥{{allpri}}</strong>
  <input type="hidden" name="order_volume" value="{{allpri}}" id="od2">
</script>