<?php
use yii\helpers\Url;
use yii\bootstrap\ActiveForm;
$this->title = '管理员';
$cache = Yii::$app->cache;
$params = &Yii::$app->params;
$params['hasCount'] = $hasCount;
$params['fixed'] = $fixed;
$params['script'] = 'src';
$params['countdown'] = $countdown;
?>
  <div class="app">
    <div class="panel">
      <div class="headset">
        <div class="headimg <?=$user->user_sex==='f'?'female':'male'?>"></div>
        <div class="fl c1">
          <div class="g1"><?=$user->user_name?></div>
          <div class="g2">被赞 <span class="color-org"><?=$cache->get('admin_praise')?></span> 次</div>
          <div class="g3">
            <a href="/order/history">点餐记录</a>
          </div>
          <div class="g3"><a href="javascript:;" class="edit-menu" data-id="10">修改菜单</a></div>
        </div>
      </div>
      <div class="ppset adminset">
        <div class="t1">今日我值班: <a href="/user/list" class="color-org f16">用户管理</a></div>
        <div class="t2">
          <a href="/order/total">查看今日点餐</a><strong class="count">0</strong>
        </div>
      </div>
      <div class="ptabs">
      <?php foreach($menus as $k=>$v):?>
        <a href="javascript:;" <?=empty($k)?'class="active"':''?> data-menuid="<?=$v->id;?>"><?=$v->menu_name?></a>
      <?php endforeach;?>
        <a href="javascript:;" class="add-new-menu"><i class="fa fa-plus-circle"></i> 增加菜单</a>
      </div>
    </div>
    <div class="main">
      <table class="table">
        <thead>
          <tr>
            <th width="35%">菜品名称</th>
            <th width="15%">价格</th>
            <th width="25%">份数</th>
            <th width="15%">选择</th>
            <th>操作</th>
          </tr>
        </thead>
      </table>
      <div class="table-inter table-inter2">
        <table class="table" id="data_cont1"></table>
      </div>
      <div class="tips admintips">
          <?php ActiveForm::begin(['options' => ['class'=>'add-dish']]); ?>
            <i class="fa fa-plus-circle fa-lg color-gre"></i>
            <input type="text" class="inp" name="dishName" id="dishName" placeholder="菜品名称" maxlength="10" required autofocus>
            <input type="text" class="inp mgl15 short" name="price" id="price" placeholder="价格" maxlength="2" required>
            <select name="openOn" id="openon" class="sel mgl15">
              <option value="0">随时开放</option>
              <option value="1">上半月开放</option>
              <option value="2">下半月开放</option>
            </select>
            <input type="hidden" name="menuid" value="<?=$menus[0]->id?>">
            <input type="submit" value="保存" class="btn btn-g mgl15">
        </form>
        <div class="tip-btn hide">
            <?php ActiveForm::begin(['options' => ['class'=>'add-order']]); ?>
                <div class="tip-txt fl"></div>
                <input type="hidden" name="menuid" value="<?=$menus[0]->id?>">
                <input type="hidden" name="order_detail" value="" id="od1">
                <input type="submit" value="确定" class="btn btn-o" id="sub_order"/>
            </form>
        </div>
      </div>
    </div>
  </div>
<?=$this->render('../include/template')?>
<script type="text/tmpl" id="tem-dishlist">
{% if(obj.length <1) { %}
    <tr><td colspan="5" class="alc">暂时没有开放的菜单!</td></tr>
{%}%}
{% _.each(obj, function(e,i,o){ %}
  <tr data-id="{{e.id}}">
    <td width="35%"><span class="mgl dish-name">{{-e.dish_name}}</span></td>
    <td width="15%">
      <span class="fl color-org">&yen;<span class="price">{{e.dish_price.toFixed(2)}}</span></span>
    </td>
    <td width="27%">
      <div class="fl pkong hide">
        <a href="javascript:;" class="mus"></a>
        <span class="nums">1</span>
        <a href="javascript:;" class="add"></a>
      </div>
    </td>
    <td width="15%">
      <div class="con-chk mgl">
        <i class="con-chkgray"></i>
      </div>
    </td>
    <td>
    <a href="javascript:;" class="color-red mgl5 del-dish">删除</a>
    </td>
  </tr>
{% }) %}
</script>
<script> var pageVar = { isAdmin : true}; </script>