<?php
$this->title = '我的点餐记录';
$params = &Yii::$app->params;
$params['hasCount'] = FALSE;
$params['fixed'] = TRUE;
?>
<div class="app">
  	<div class="panel">
  	<div class="headset">
        <div class="headimg <?=$user->user_sex==='f'?'female':'male'?>"></div>
        <div class="fl c1">
          <div class="g1"><?=$user->user_name?></div>
          <div class="g2">被赞 <span class="color-org"><?=$user->user_praise?></span> 次</div>
          <div class="g3">
            <a href="/">返回点餐页</a>
          </div>
        </div>
      </div>
  </div>
  <div class="main">
  	<div class="title">点餐记录</div>
    <table class="table mgt10">
      <thead>
        <tr>
          <th width="56%">内容</th>
          <th>消费</th>
          <th>发生时间</th>
          <th width="8%">余额</th>
        </tr>
      </thead>
    </table>
  	<div class="sp-scroll">
  		<table class="table history">
  			<?php $wekstr = '一二三四五六日'; foreach($charges as $k1=>$v1):
            ?>
                <tr class="<?=$v1['today']=='1'?'today':''?>">
                <?php if($v1['change_amount'] > 0):?>
                    <td width="56%">充值</td>
                    <td><span class="color-gre">+<?=$v1['change_amount']?></span></td>
                    <td class="alc"><?=$v1['date']?>  星期<?=mb_substr($wekstr, $v1['weekindex'], 1, 'utf8')?></td>
                    <td width="8%"><span class="color-bla"><?=!$k1?$balance['user_balance']:''?></span></td>
                    <?php else:?>
                    <td width="56%">
                        <?php foreach($dishs as $k2=>$v2):if($v2['date'] == $v1['date']):?>
                        <?=$v2['dish_name'] . ' <span class="color-org"> X '. $v2['dish_count'].'</span><br>'?>
                        <?php endif;endforeach;?>
                    </td>
                    <td><?=$v1['change_amount']?></td>
                    <td class="alc"><?=$v1['date']?>  星期<?=mb_substr($wekstr, $v1['weekindex'], 1, 'utf8')?></td>
                    <td width="8%"><span class="color-bla"><?=!$k1?$balance['user_balance']:''?></span></td>
                <?php endif;?>
                </tr>
            <?php endforeach;?>
  		</table>
  	</div>
  </div>
</div>