<?php
$this->title = '今日点餐汇总';
$params = &Yii::$app->params;
$cache = Yii::$app->cache;
$params['hasCount'] = FALSE;
$params['fixed'] = TRUE;
$params['script'] = 'src';
?>
<div class="app">
    <div class="panel">
      <div class="headset">
        <div class="headimg <?=$user->user_sex==='f'?'female':'male'?>"></div>
        <div class="fl c1">
          <div class="g1"><?=$user->user_name?></div>
          <div class="g2">被赞 <span class="color-org"><?=$cache->get('admin_praise')?></span> 次</div>
          <div class="g3">
            <a href="/order/history">点餐记录</a>
          </div>
        </div>
      </div>
      <div class="mgt20">
        <a href="/" class="btn btn-g">返回点餐页</a>
      </div>
    </div>
    <div class="main">
      <div class="title">点餐列表 <span class="color-org"><?=date('Y-m-d')?></span></div>
      <div class="sp-scroll">
        <?php foreach($menus as $val): $totCount = 0;$volume = 0;?>
          <div class="dian-cont">
              <div class="dian-header">
                  <div class="ft20 fl"><?=$val['menu_name']?></div>
                  <a class="more" href="javascript:;">显示人员<i class="fa fa-angle-down"></i></a>
                  <div class="phones fr mgr10">
                      <i class="fa fa-phone fa-lg color-gre"></i>
                      <span class="color-gre"><?=str_replace(' ', '</span><span class="color-gre mgl">', $val['menu_telephone'])?></span>
                  </div>
              </div>
              <table class="tb2">
                  <tbody>
                  <?php foreach($dishs as $k1=>$v): if($val['id'] === $v['dish_menu_id']): $index=0?>
                  <?php foreach($userdishs as $k2=>$v2): if($v2['dish_id'] === $v['dish_id']):?>
                  <tr class="<?=($k1%2?'':'even').($index>0?' hide f-item':'')?>">
                      <?php if($index>0):?>
                          <td width="45%" colspan="2">&nbsp;</td>
                      <?php else:?>
                          <td width="30%"><?=$v['dish_name']?> <span class="color-org">X <?=$v['volume']?></span></td>
                          <td width="15%">&yen;<?=$v['dish_price']?></td>
                      <?php endif;?>
                      <td width="20%"><?=$v2['user_name']?></td>
                      <td width="15%"><?=$v2['dish_count']?> 份 </td>
                      <td>
                          <a href="javascript:;" class="color-org" data-orderid="<?=$v['order_id']?>">取消</a>
                      </td>
                  </tr>
                  <?php $index++;endif;endforeach;?>
                  <?php
                  $totCount += $v['volume'];
                  $volume += $v['dish_price']*$v['volume'];
                  endif;endforeach;?>
                  </tbody>
              </table>
              <div class="zon clearfix">
            <span class="fr mgr10">
            共计: <span class="color-org"><?=$totCount?>份&nbsp;&nbsp;&nbsp;&nbsp;&yen;<?=$volume?></span>
            </span>
              </div>
          </div>
        <?php endforeach;?>
      </div>
    </div>
  </div>
<script>var pageVar = { isAdmin : true}</script>