<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>点餐记录 - 企大外卖宝</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
</head>
<body class="fix">
	<div class="header">
    <div class="header-inner clearfix">
      <img src="images/dish.png" alt="Logo" class="fl logo">
      <span class="fl title">企大外卖宝</span>
    </div>
  </div>
  <div class="app">
  	<div class="panel">
  	<div class="headset">
        <div class="headimg male"></div>
        <div class="fl c1">
          <div class="g1">周华辉</div>
          <div class="g2">被赞<span class="color-org">666</span>次</div>
          <div class="g3">
            <a href="../user/dian.html">返回点餐页</a>
          </div>
        </div>
      </div>
      <div class="ppset">
        <div class="t1">今日值班人: <span class="color-org f16">周华辉</span></div>
        <div class="t2">
          <a href="javascript:;">为TA点赞<i class="fa fa-thumbs-o-up mgl5 fa-lg"></i></a>
        </div>
      </div>
  </div>
  <div class="main">
  	<div class="title">点餐记录</div>
    <table class="table mgt10">
      <thead>
        <tr>
          <th width="30%">菜单</th>
          <th>菜品名称</th>
          <th>消费</th>
          <th>点餐时间</th>
          <th width="10%">余额</th>
        </tr>
      </thead>
    </table>
  	<div class="sp-scroll">
  		<table class="table history">
  				<tr class="today">
  					<td width="30%"><span class="mgl">A菜单（饭饭之辈）</span></td>
  					<td>农家一桶香饭</td>
  					<td><span class="color-org">-15</span></td>
  					<td>2014/11/17 星期五</td>
  					<td><span class="color-org">35</span></td>
  				</tr>
  				<tr>
  					<td><span class="mgl">B菜单 （赣湘木桶饭）</span></td>
  					<td>外婆菜炒蛋饭</td>
  					<td>-16</td>
  					<td>2014/11/17 星期五</td>
  					<td><span class="color-bla">10</span></td>
  				</tr>
  				<tr>
            <td><span class="mgl">B菜单 （赣湘木桶饭）</span></td>
            <td>外婆菜炒蛋饭</td>
            <td>-16</td>
            <td>2014/11/17 星期五</td>
            <td><span class="color-bla">10</span></td>
          </tr>
          <tr>
            <td colspan="2">&nbsp;</td>
            <td><span class="color-gre">+100</span></td>
            <td>2014/11/17 星期五</td>
            <td><span class="color-bla">10</span></td>
          </tr>
          <tr>
            <td><span class="mgl">B菜单 （赣湘木桶饭）</span></td>
            <td>外婆菜炒蛋饭X2</td>
            <td>-34</td>
            <td>2014/11/17 星期五</td>
            <td><span class="color-bla">10</span></td>
          </tr>
          <tr>
            <td><span class="mgl">B菜单 （赣湘木桶饭）</span></td>
            <td>外婆菜炒蛋饭</td>
            <td>-12</td>
            <td>2014/11/17 星期五</td>
            <td><span class="color-bla">-10</span></td>
          </tr>
          <tr>
            <td><span class="mgl">B菜单 （赣湘木桶饭）</span></td>
            <td>外婆菜炒蛋饭</td>
            <td>-16</td>
            <td>2014/11/17 星期五</td>
            <td><span class="color-bla">10</span></td>
          </tr>
          <tr>
            <td><span class="mgl">B菜单 （赣湘木桶饭）</span></td>
            <td>外婆菜炒蛋饭</td>
            <td>-16</td>
            <td>2014/11/17 星期五</td>
            <td><span class="color-bla">10</span></td>
          </tr>
          <tr>
            <td colspan="2">&nbsp;</td>
            <td><span class="color-gre">+100</span></td>
            <td>2014/11/17 星期五</td>
            <td><span class="color-bla">10</span></td>
          </tr>
          <tr>
            <td><span class="mgl">B菜单 （赣湘木桶饭）</span></td>
            <td>外婆菜炒蛋饭X2</td>
            <td>-34</td>
            <td>2014/11/17 星期五</td>
            <td><span class="color-bla">10</span></td>
          </tr>
          <tr>
            <td><span class="mgl">B菜单 （赣湘木桶饭）</span></td>
            <td>外婆菜炒蛋饭</td>
            <td>-12</td>
            <td>2014/11/17 星期五</td>
            <td><span class="color-bla">-10</span></td>
          </tr>
          <tr>
            <td><span class="mgl">B菜单 （赣湘木桶饭）</span></td>
            <td>外婆菜炒蛋饭</td>
            <td>-16</td>
            <td>2014/11/17 星期五</td>
            <td><span class="color-bla">10</span></td>
          </tr>
          <tr>
            <td><span class="mgl">B菜单 （赣湘木桶饭）</span></td>
            <td>外婆菜炒蛋饭</td>
            <td>-16</td>
            <td>2014/11/17 星期五</td>
            <td><span class="color-bla">10</span></td>
          </tr>
          <tr>
            <td colspan="2">&nbsp;</td>
            <td><span class="color-gre">+100</span></td>
            <td>2014/11/17 星期五</td>
            <td><span class="color-bla">10</span></td>
          </tr>
          <tr>
            <td><span class="mgl">B菜单 （赣湘木桶饭）</span></td>
            <td>外婆菜炒蛋饭X2</td>
            <td>-34</td>
            <td>2014/11/17 星期五</td>
            <td><span class="color-bla">10</span></td>
          </tr>
          <tr>
            <td><span class="mgl">B菜单 （赣湘木桶饭）</span></td>
            <td>外婆菜炒蛋饭</td>
            <td>-12</td>
            <td>2014/11/17 星期五</td>
            <td><span class="color-bla">-10</span></td>
          </tr>
          <tr>
            <td><span class="mgl">B菜单 （赣湘木桶饭）</span></td>
            <td>外婆菜炒蛋饭</td>
            <td>-16</td>
            <td>2014/11/17 星期五</td>
            <td><span class="color-bla">10</span></td>
          </tr>
          <tr>
            <td><span class="mgl">B菜单 （赣湘木桶饭）</span></td>
            <td>外婆菜炒蛋饭</td>
            <td>-16</td>
            <td>2014/11/17 星期五</td>
            <td><span class="color-bla">10</span></td>
          </tr>
          <tr>
            <td colspan="2">&nbsp;</td>
            <td><span class="color-gre">+100</span></td>
            <td>2014/11/17 星期五</td>
            <td><span class="color-bla">10</span></td>
          </tr>
          <tr>
            <td><span class="mgl">B菜单 （赣湘木桶饭）</span></td>
            <td>外婆菜炒蛋饭X2</td>
            <td>-34</td>
            <td>2014/11/17 星期五</td>
            <td><span class="color-bla">10</span></td>
          </tr>
          <tr>
            <td><span class="mgl">B菜单 （赣湘木桶饭）</span></td>
            <td>月饼炒桔子</td>
            <td>-12</td>
            <td>2014/11/17 星期五</td>
            <td><span class="color-bla">-10</span></td>
          </tr>
  		</table>
  	</div>
  </div>
</div>
</body>
</html>