<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>订单汇总 - 企大外卖宝</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
</head>
<body class="fix">
  <div class="header">
    <div class="header-inner clearfix">
      <img src="images/dish.png" alt="Logo" class="fl logo">
      <span class="fl title">企大外卖宝</span>
    </div>
  </div>
  <div class="app">
    <div class="panel">
      <div class="headset">
        <div class="headimg male"></div>
        <div class="fl c1">
          <div class="g1">周华辉</div>
          <div class="g2">被赞<span class="color-org">666</span>次</div>
          <div class="g3">
            <a href="history.html">点餐记录</a>
          </div>
        </div>
      </div>
      <div class="mgt20">
        <a href="../user/admin.html" class="btn btn-g">返回点餐页</a>
      </div>
    </div>
    <div class="main">
      <div class="title">点餐列表</div>
      <div class="sp-scroll">
        <div class="dian-cont">
          <div class="dian-header">
            <div class="ft20 fl">A菜单（饭饭之辈）</div>
            <div class="phones fr mgr10">
              <i class="fa fa-phone fa-lg color-gre"></i>
              <span class="color-gre">86105551</span>
              <span class="color-gre">86105225</span>
            </div>
          </div>
          <table class="tb2">
            <tbody>
              <tr>
                <td width="20%">李威</td>
                <td width="30%">农家一桶香饭</td>
                <td width="15%">&yen;13</td>
                <td width="15%">1份</td>
                <td>
                  <a href="javascript:;" class="color-org">取消</a>
                </td>
              </tr>
              <tr class="even">
                <td>周华辉</td>
                <td>农家一桶香饭</td>
                <td>&yen;13</td>
                <td>1份</td>
                <td>
                  <a href="javascript:;" class="color-org">取消</a>
                </td>
              </tr>
              <tr>
                <td>贺世英</td>
                <td>尖椒炒蛋饭</td>
                <td>&yen;13</td>
                <td>1份</td>
                <td>
                  <a href="javascript:;" class="color-org">取消</a>
                </td>
              </tr>
              <tr class="even">
                <td>宁晓晴</td>
                <td>农家一桶香饭</td>
                <td>&yen;13</td>
                <td>1份</td>
                <td>
                  <a href="javascript:;" class="color-org">取消</a>
                </td>
              </tr>
              <tr>
                <td>胡潇</td>
                <td>农家一桶香饭</td>
                <td>&yen;13</td>
                <td>1份</td>
                <td>
                  <a href="javascript:;" class="color-org">取消</a>
                </td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>酸菜肉沫饭</td>
                <td>&yen;13</td>
                <td>1份</td>
                <td>
                  <a href="javascript:;" class="color-org">取消</a>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="zon clearfix">
            <span class="fr mgr10">
            共计: <span class="color-org">10份&nbsp;&nbsp;&nbsp;&nbsp;&yen;200</span>
            </span>
          </div>
        </div>
        <div class="dian-cont">
          <div class="dian-header">
            <div class="ft20 fl">B菜单（赣湘木桶饭）</div>
            <div class="fr mgr10">
              <i class="fa fa-phone fa-lg color-gre"></i>
              <span class="color-gre">86105551</span>
              <span class="color-gre">86105225</span>
            </div>
          </div>
          <table class="tb2">
            <tbody>
              <tr>
                <td width="20%">李威</td>
                <td width="30%">农家一桶香饭</td>
                <td width="15%">&yen;13</td>
                <td width="15%">1份</td>
                <td>
                  <a href="javascript:;" class="color-org">取消</a>
                </td>
              </tr>
              <tr class="even">
                <td>周华辉</td>
                <td>农家一桶香饭</td>
                <td>&yen;13</td>
                <td>1份</td>
                <td>
                  <a href="javascript:;" class="color-org">取消</a>
                </td>
              </tr>
              <tr class="even">
                <td>&nbsp;</td>
                <td>酸菜小笋肉沫饭</td>
                <td>&yen;13</td>
                <td>1份</td>
                <td>
                  <a href="javascript:;" class="color-org">取消</a>
                </td>
              </tr>
              <tr>
                <td>贺世英</td>
                <td>尖椒炒蛋饭</td>
                <td>&yen;13</td>
                <td>1份</td>
                <td>
                  <a href="javascript:;" class="color-org">取消</a>
                </td>
              </tr>
              <tr class="even">
                <td>宁晓晴</td>
                <td>农家一桶香饭</td>
                <td>&yen;13</td>
                <td>1份</td>
                <td>
                  <a href="javascript:;" class="color-org">取消</a>
                </td>
              </tr>
              <tr>
                <td>胡潇</td>
                <td>农家一桶香饭</td>
                <td>&yen;13</td>
                <td>1份</td>
                <td>
                  <a href="javascript:;" class="color-org">取消</a>
                </td>
              </tr>
              <tr class="even">
                <td>宁晓晴</td>
                <td>农家一桶香饭</td>
                <td>&yen;13</td>
                <td>3份</td>
                <td>
                  <a href="javascript:;" class="color-org">取消</a>
                </td>
              </tr>
              <tr class="even">
                <td>周华辉</td>
                <td colspan="4">&nbsp;</td>
              </tr>
              <tr class="even">
                <td>李威</td>
                <td colspan="4">&nbsp;</td>
              </tr>
            </tbody>
          </table>
          <div class="zon clearfix">
            <span class="fr mgr10">
            共计: <span class="color-org">10份&nbsp;&nbsp;&nbsp;&nbsp;&yen;200</span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>